fastapi==0.115.0
uvicorn[standard]==0.30.6
langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.29
langchain-google-genai==2.1.10
youtube-search==2.1.2
youtube-transcript-api==0.6.3
pytube
pytz
pydantic==2.11.7

duckduckgo-search>=5.0.0
